#main-body {
    background: pink;
    width: 600px;
    height: 800px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.display {
    background-color: white;
    margin-top: 50px;
    width: 500px;
    height: 150px;
    color: pink;
    font-size: 70px;
}

.row {
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    margin: 20px 15px;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
    background-color: pink;
    color: white;
    font-size: 50px;
    border-style: solid;
    cursor: pointer;
}

#clear {
    font-size: 35px;
    text-align: center;
}